.hero-actividades {
    background-image: url("/metal_gym/images/actividades/fondo1.png");
    background-size: cover;
    height: 50vw;
    background-position: center;  /* Centra la imagen de fondo */
    max-height: 1000px;
    text-align: center;
}

.hero-actividades h1 {
    padding-top: .5vw;
    padding-bottom: 150px;
    font-weight: bolder;
    font-size: 4vw;
    text-align: center;         /* Centra el texto */

}

/* Regla general para los párrafos dentro de .hero-actividades */
.hero-actividades p {
    color: white;
    padding: 20px;
    width: 60%;
    position: relative;
    left: 20%;
    font-size: 1.8vw;
}

/* Caja sombreada para la sección Hero */
.caja-sombreada {
    background-color: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
    border-radius: 10px;                 /* Bordes redondeados */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra */
    padding: 10px;                       
    width: 80%;                          
    margin: 20px auto;                      
}

/* Ajuste de los párrafos dentro de la caja para evitar propiedades heredadas */
.caja-sombreada p {
    left: 0;            
    width: auto;          
    margin: 0;       
    font-size: 1.7rem;  
    color: white;         
}

.actividades-container {
    column-count: 3;
    column-gap: 20px;
    column-width: auto;
    padding: auto;
}

.actividad img {
    width: 70%;
    height: auto;
    margin-bottom: 5%;
}

.actividad h3 {
    font-size: 2em;
}

.horarios {
    padding: 1.5%;
    font-size: 1.2em;
}

body {
    margin: 0 auto;    /* Centra el contenido */
}

/* Ordenador */
@media (min-width: 1280px) { 

    /* Caja sombreada para la sección Hero */
    .caja-sombreada {
        width: 50%;                          
    }

    .caja-sombreada p {    
        font-size: 1.3rem;  
    }

    .actividad h3 {    
        margin-bottom: 5%;
    }

    .ver-mas {
        font-size: 2em; /* Tamaño de texto más grande */ 
        margin-bottom: 5%;
        position: relative;
        right: 0%;
        width: 70%;
    }
}

/* Tablets */
@media (max-width: 1280px) { 
    .actividad h3 {    
        margin-bottom: 0%;
    }

    .hero-actividades {
        height: 50%;
    }
    
    .hero-actividades h1 {
        padding-top: .5vw;
        padding-bottom: .5vw;
        font-size: 2em;
    }

    .hero-actividades p {
        width: 80%;
        left: 10%;
        font-size: 1em;
    }
    
    .actividades-container {
        column-count: 3;
    }

    .actividad img {
        width: 80%;
        height: auto;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .ver-mas {
        font-size: 1em; /* Tamaño de texto más grande */ 
        margin-top: 0%;
        margin-bottom: 5%;
        right: 0%;
        width: 80%;
    }
}

/* Móviles grandes (pequeño son 480) */
@media (max-width: 768px) { 
    .actividad h3 {    
        margin-top: 5%;
        margin-bottom: 0%;
    }

    .hero-actividades {
        height: 50%;
    }
    
    .hero-actividades h1 {
        padding-top: .5vw;
        padding-bottom: .5vw;
        font-size: 2em;
    }

    .hero-actividades p {
        width: 80%;
        left: 10%;
        font-size: 1em;
    }
    
    .actividades-container {
        column-count: 1;
    }

    .actividad img {
        position: relative;
        width: 50%;
        height: auto;
        margin-top: 5%;
    }

    .ver-mas {
        font-size: 1em; /* Tamaño de texto más grande */ 
        margin-top: 0%;
        margin-bottom: 5%;
        width: 50%;
    }
}
