.hero-actividades {
    background-image: url("/metal_gym/images/actividades/fondo1.png");
    background-size: cover;
    height: 50vw;
}

.hero-actividades h1 {
    padding-top: .5vw;
    padding-bottom: 150px;
    font-weight: bolder;
    font-size: 4vw;
}

.hero-actividades p {
    color: white;
    padding: 20px;
    width: 60%;
    position: relative;
    left: 20%;
    font-size: 1.8vw;
}

.actividades-container {
    column-count: 3;
    column-gap: 20px;
    column-width: auto;
    padding: auto;
}

.actividad img {
    width: 70%;
    height: auto;
    margin-bottom: 5%;
}

.actividad h3 {
    font-size: 2em;
}

.horarios {
    padding: 1.5%;
    font-size: 1.2em;
}

body {
    max-width: 1920px; /* La página no se expandirá a más de 1920px */
    min-width: 480px; /* La página no se reducirá a menos de 480px */
}

/* Ordenador */
@media (max-width: 1920px) { 
    .actividad h3 {    
        margin-bottom: 5%;
    }

    .ver-mas {
        font-size: 2em; /* Tamaño de texto más grande */ 
        margin-bottom: 5%;
        position: relative;
        right: 0%;
        width: 70%;
    }
}

/* Tablets */
@media (max-width: 1280px) { 
    .actividad h3 {    
        margin-bottom: 0%;
    }

    .hero-actividades {
        height: 50%;
    }
    
    .hero-actividades h1 {
        padding-top: .5vw;
        padding-bottom: .5vw;
        font-size: 2em;
    }

    .hero-actividades p {
        width: 80%;
        left: 10%;
        font-size: 1em;
    }
    
    .actividades-container {
        column-count: 3;
    }

    .actividad img {
        width: 80%;
        height: auto;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .ver-mas {
        font-size: 1em; /* Tamaño de texto más grande */ 
        margin-top: 0%;
        margin-bottom: 5%;
        right: 0%;
        width: 80%;
    }
}

/* Móviles grandes (pequeño son 480) */
@media (max-width: 768px) { 
    .actividad h3 {    
        margin-top: 5%;
        margin-bottom: 0%;
    }

    .hero-actividades {
        height: 50%;
    }
    
    .hero-actividades h1 {
        padding-top: .5vw;
        padding-bottom: .5vw;
        font-size: 2em;
    }

    .hero-actividades p {
        width: 80%;
        left: 10%;
        font-size: 1em;
    }
    
    .actividades-container {
        column-count: 1;
    }

    .actividad img {
        position: relative;
        left: 20.5%;
        width: 40%;
        height: auto;
        margin-top: 5%;
        margin-bottom:7%;
    }

    .ver-mas {
        font-size: 1em; /* Tamaño de texto más grande */ 
        margin-top: 2%;
        margin-bottom: 5%;
        right: 20%;
        width: 40%;
    }
}